.checkbox{
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.checkbos-disabled {
        cursor: not-allowed;
        opacity: .5;
    }

    & .checkbox-checkmark {
        position: absolute;
        top: 0;
        left: 0;
    }

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    & .checkbox-label {
        padding-left: 32px;
    }

}
 